body {
	font-family: "Lora";
	font-size: 17.6px;
	margin: 0;
	color: hsl(235, 45%, 14%);
}

a {
	text-decoration: underline;
	color: inherit;
	transition: color 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
}

h1 {
	min-width: 100%;
	font-weight: 300;
	font-size: 2em;
	margin-bottom: 0.5em;
}

h1 span {
	padding: 0.5em 0.75em;
	background-color: hsla(356, 79%, 68%, 0.2);
	background-color: hsl(356, 79%, 41%);
	color:  #f9f9f9;
	text-shadow: 0 -1px 2px hsl(356, 79%, 39%);
	box-shadow: 0 1px 2px #ccc;
}

h2 {
	font-weight: 300;
}

header {
	padding: 2em 0;
	background-color: hsla(235, 45%, 14%, 0.05);
}

main {
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 1em;
	background-color: hsla(235, 45%, 14%, 0.01);
}

footer {
	background-color: hsl(235, 45%, 14%);
	margin-top: 3.5rem;
	padding: 10px 15px;
}

footer {
	color: #FDFDFD;
	text-align: center;
	font-size: 12px	;
}

.text-nowrap {
  white-space: nowrap;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

article li a {
	text-decoration: none !important;
	padding: 0.2em;
	line-height: 2;
	border-bottom: 1px solid currentColor;
}

article a:hover {
	color: #ad242e;
}

nav.navbar {
	display: inline-block;
}

nav a {
	text-decoration: none;
	border-bottom: none;
	font-weight: 700;
	padding: 0.5em 0.7em;
	color: hsl(235, 45%, 34%);
}

nav a:hover {
	color: hsl(235, 45%, 14%);
	background-color: hsla(235, 65%, 29%, 0.1);
	color: hsla(235, 45%, 4%, 1);
}

nav ul {
	margin: 0;
}

nav li {
	display: inline-block;
}

.who h2 {
	margin: 0;
}

.contact {
	text-align: left;
}

.contact p {
	padding: 1.5em 0 1em 0;
}

.contact form input[type="submit"] {
	line-height: 20px;
	padding: 15px;
  color: hsla(235, 45%, 4%, 1);
  background-color: #eee;
  border: 0;
  outline: 0;
}

@media screen and (max-width: 1200px) {
	article:not(.contact) {
		padding: 0;
	}

	h1, .contact {
		text-align: center;
	}

	.contact p {
		width: 300px
		text-align: center;
		padding: 1em 2em;
	}
}

@media screen and (max-width: 767px) {
	nav a {
		padding: 0 0.75em;
	}

	nav a:hover {
		text-decoration: underline;
		border-bottom: none;
	}
}

@media (max-width: 991px) {
	.logo-wrapper {
		max-width: 300px;
		margin: auto;
		width: 100%;
		margin-bottom: 25px;
	}

	nav.navbar {
		display: block;
		margin: 0;
	}

	header {
		padding-bottom: 10px;
	}


	.navbar-toggle span {
		background: hsl(235, 45%, 34%)
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.nav-wrapper {
		align-items: stretch;
		text-align: center;
	}

	nav.navbar {
		text-align: center;
	}

	.navbar-nav {
		float: none;
		display: inline-block;
	}
}

@media screen and (min-width: 768px) {
	.flex-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
	}

	.logo-wrapper {
		display: inline-block;
		flex: 0 0 280px;
	}
	.logo {
		max-width: 280px;
		width: 100%;
	}

	.nav-wrapper {
		flex: 1 0 441px;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}
}